@using ClientBIN.Models;
@model BIN

    <tr>

        <td class="text-left url-text-wrap">

            @Model.PS


        </td>
        <td class="text-left url-text-wrap">

            @Model.START_BIN


        </td>
        <td class="text-left url-text-wrap">

            @Model.END_BIN


        </td>
        <td class="text-left url-text-wrap">

            @Model.CODE_A2


        </td>
        <td class="text-left url-text-wrap">

            @Model.CODE_A3


        </td>
        <td class="text-left url-text-wrap">

            @Model.CODE_N3


        </td>
        <td class="text-left url-text-wrap">

            @Model.BIN_LEN


        </td>
        <td class="text-left url-text-wrap">

            @Model.Product_ID


        </td>

    </tr>

